.form-row-cart {
	width: fit-content;
}
.orddd_lite_field_note {
	font-size: 10px;
}

/* Date Picker Default Styles */
.ui-datepicker {
	padding: 0;
	margin: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 1px solid #dfdfdf;
	border-top: none;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
	min-width: 17em;
}

.ui-datepicker * {
	padding: 0;
	font-family: "Open Sans", sans-serif;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.ui-datepicker table {
	font-size: 13px;
	margin: 0;
	border: none;
	border-collapse: collapse;
}

.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
	background-image: none;
	border: none;
	font-weight: normal;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0;
	padding: 10px 0;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: relative;
	top: 0;
	height: 34px;
	width: 34px;
}

.ui-datepicker .ui-state-hover.ui-datepicker-prev,
.ui-datepicker .ui-state-hover.ui-datepicker-next {
	border: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev-hover {
	left: 0;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
	right: 0;
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
	display: none;
}

.ui-datepicker .ui-datepicker-prev {
	float: left;
}

.ui-datepicker .ui-datepicker-next {
	float: right;
}

.ui-datepicker .ui-datepicker-prev:before {
	content: "";
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	border-left: 0.1em solid;
	border-bottom: 0.1em solid;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-left: 0.6em;
	font: normal 20px/34px 'dashicons';
}

.ui-datepicker .ui-datepicker-next:before {
	content: "";
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	border-right: 0.1em solid;
	border-top: 0.1em solid;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform: rotate(45deg);
	margin-left: 0.6em;
	font: normal 20px/34px 'dashicons';
}

.ui-datepicker .ui-datepicker-prev-hover:before,
.ui-datepicker .ui-datepicker-next-hover:before {
	opacity: 0.7;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 33%;
}

.ui-datepicker thead {
	font-weight: 600;
}

.ui-datepicker th {
	padding: 10px;
}

.ui-datepicker td {
	padding: 0;
	border: 1px solid #f4f4f4;
}

.ui-datepicker td.ui-datepicker-today {
	background-color: #f0f0c0;
}

.ui-datepicker td.ui-datepicker-current-day {
	background: #bbdd88;
}

.ui-datepicker td .ui-state-default {
	border: none;
	text-align: center;
	text-decoration: none;
	width: auto;
	display: block;
	padding: 5px 10px;
	font-weight: normal;
}

.ui-datepicker td.ui-state-disabled .ui-state-default {
	opacity: 0.5;
}

/* To hide the Today button in the calendar */
.ui-datepicker-current { display: none; }
