input[type="checkbox"] {
  float: left !important;
  margin-left: 5px;
  margin-right: 5px;
}

.orddd_lite_weekdays,
.orddd_lite_shipping_days {
	width: 300px;
}

.form-table .orddd_lite_fieldset_padding {
	 padding: 0.5px 0.5px;
}

#orddd_lite_minimumOrderDays, #orddd_lite_number_of_dates, #orddd_lite_lockout_date_after_orders {
	 width: 75px;
}

#orddd_lite_delivery_date_field_note {
	 width: 290px;
}

.orddd_lite_no_fields_for_product_type{
	float:left;
}

.form-table .orddd_lite_holidays_list{
	width: 360px;
	vertical-align: top;
	text-align: center;
	padding-top:3px;
	padding-bottom:3px;
}

table.wp-list-table .column-holidays {
	width:7%;
}

#orddd_lite_holidays_list {
	width: 500px;
}

#holidays_table_head {
	margin-bottom: 0px;
}

#datepicker {
	width: fit-content !important;
}

.ui-datepicker {
	min-width: fit-content !important;
}

.save_button{
	background: #0091cd;
	border-color: #0073aa;
	box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
	color: #fff;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
}

table.form-table #orddd_lite_ics_url_list .orddd_lite_ics_feed_url {
	padding: 0px 0px;
}

.form-table th, .form-table td {
	font-weight:normal;
}

.orddd-col-left {
    float: left;
    width: 50%;
}

.orddd-col-right {
    float: right;
    width: 50%;
}

.add-timeslot {
	margin-top: 12px;
}

#orddd_delivery_dates_list .tablenav {
	display: none;
}
div.ui-widget-content table.ui-datepicker-calendar th {
    width: max-content;
}
div#calendar .fc-button-primary.fc-today-button {
	margin-right: 5px;
	margin-left: 5px;
}
/* Remove qTip default look */
.qtip.qtip-default {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* Card */
.qtip.qtip-default .qtip-content {
  padding: 0 !important;
}

.orddd-popup-card {
  width: 340px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 20px 60px rgba(0,0,0,.2);
  font-family: Inter, system-ui, sans-serif;
  overflow: hidden;
}

/* Header */
.orddd-popup-header {
	border-bottom: 1px solid #d7d3d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 600;
}
.qtip.qtip-default .qtip-content {
	overflow: visible;
}

.orddd-popup-header a {
  color: #1a73e8;
  text-decoration: none;
}

a.qtip-close.qtip-icon {
    margin-top: 23px;
    margin-right: -31px;
    background: none;
    border: none;
}
a.qtip-close.qtip-icon span.ui-icon.ui-icon-close {
    font-size: 26px !important;
    color: #a39d9d;
}

/* Body */
.orddd-popup-body {
  display: flex;
  gap: 16px;
  padding: 20px 20px 0px;
}

.orddd-product-image {
  width: 96px;
  height: 72px;
  border-radius: 10px;
  object-fit: cover;
}

/* Details */
.orddd-popup-details {
	font-size: 14px;
	flex: 1;
}
.orddd-popup-details i{
	margin-right: 5px;
}

.orddd-product-name {
  margin-bottom: 18px;
}

.orddd-product-name a {
  color: #1a73e8;
  text-decoration: none;
}

.qty {
  color: #666;
  font-weight: 500;
  margin-left: 4px;
}

.orddd-row {
  font-size: 13px;
  color: #444;
  margin-bottom: 12px;
}

/* Button */
.orddd-view-order {
    font-size: 14px;
    display: block;
    margin: 5px 12px 20px;
    padding: 13px;
    background: #e8f1ff;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    color: #1a73e8 !important;
    text-decoration: none;
}

.orddd-view-order:hover {
  background: #dbe9ff;
}
i.dashicons-archive {
    height: 0px !important;
    margin-left: -2px;
    margin-right: 0px;
    font-size: 17px;
    text-align: left;
    line-height: normal;
}